@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, .logo{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 6vmax;
}
h2, h3, .title{
    font-family: 'Dancing Script', cursive;
    font-size: 4vmax;
    font-weight: 400;
}
h4, h5, h6, .font{
    font-family: 'Merriweather', serif;
    font-size: 2vmax;
    font-weight: 400;
}
.homeDiv{
    margin-top: 2em;
}
.responsiveImg{
    width: 100%;
    height: auto;
   
}
@media (min-width: 1000px){
    .responsiveImg{
        max-height: fit-content;
    }
   
}